//Font
@mixin title-font{
  font-size: 16px;
  font-weight: bold;
  color: rgb(70, 76, 91);
}

@mixin mid-title-font {
  font-size: 14px;
  font-weight: bold;
  color: rgb(70, 76, 91);
}

@mixin min-title-font {
  font-size: 12px;
  font-weight: bold;
  color: rgb(70, 76, 91);
}

@mixin content-font {
  font-size: 12px;
  font-weight: bold;
  color: rgb(70, 76, 91);
}

@mixin sub-content-font {
  color: rgb(195, 203, 214);
}

@mixin disabled-font {
  color: rgb(195, 203, 214);
}

@mixin link-font {
  color: #2d8cf0;
  background: 0 0;
  text-decoration: none;
  outline: 0;
  cursor: pointer;
  transition: color .2s ease;
  :hover {
    color: #57a3f3;
  }
}

// Flex
@mixin flex-row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//bg {
@mixin header-bg {
  background: $light-primary-color;
  height: 8vh;
  min-height: 60px;
}

@mixin content-bg {
  width: 100vw;
  height: 84vh;
  padding-left: 64px;
  padding-right: 64px;
  background: $background-color;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

@mixin footer-bg {
  position: absolute;
  width: 100vw;
  bottom: 0px;
  background: $dark-primary-color;
  overflow: hidden;
  height: 8vh;
  min-height: 40px;
}

